 <!-- slider-area-start -->
 <div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider bg-img-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 offset-xl-1 col-lg-7">
                        <div class="slider-content">
                            <h3>Qualité, Service Et La Satisfaction</h3>
                            <p>La qualité est pas apprécié par le producteur, mais par le consommateur</p>
                            <div class="slider-btn">
                                <a class="boxed-btn2" href="#">Nos Services <i
                                        class="Flaticon flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 offset-xl-1 col-lg-7">
                        <div class="slider-content">
                            <h3>Nous Avons Trouvé Le Bon Partenaire, Et Vous ?</h3>
                            <p>Nos produits sont de haute qualité pour vous satisfaire</p>
                            <div class="slider-btn">
                                <a class="boxed-btn2" href="#">Nos Services 
                                    <i class="Flaticon flaticon-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 offset-xl-1 col-lg-7">
                        <div class="slider-content">
                            <h3>Demandez L'impossible</h3>
                            <p>Laissez nous produire le meilleur</p>
                            <div class="slider-btn">
                                <a class="boxed-btn2" href="#">Nos Services <i
                                        class="Flaticon flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->

 <!-- location-area-start -->
 <div class="addres-area black-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/cabin.png" width="100px" alt="">
                    </div>
                    <p style="font-size: 20px; color: #fff;">NOS CABINES 'ASCENSEUR</p>
                    <p>En plus de la qualité des systèmes de cabine d'ascenseur 
                        CIBAEM a apporté des solutions pour rendre 
                        l'installation de la cabine d'ascenseur rapide et pratique.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/elevator.png" width="100px" alt="">
                    </div>
                    <p style="font-size: 20px; color: #fff;">SOLUTION PAQUET D’ASCENSEUR</p>
                    <p> CIBAEM en plus de fabrication des cabines
                         d'ascenseurs et des composants des cabines offre des solutions 
                         de paquet d'ascenseur pour les partenaires d'affaires.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/staircase.png" width="100px" alt="">
                    </div>
                    <p style="font-size: 25px; color: #fff;">ESCALIERS.</p>
                    <p>Escaliers qui sont conçus selon la norme EN 115 sont 
                        fabriqués en Turquie sous le système strict de contrôle
                         de qualité.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- location-area-end -->

 <!-- about start -->
 <div class="about-area section-padding">
    <div class="pattent-bg-img">
        <img src="assets/img/about/pattern.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-md-12 col-lg-6">
                <div class="about-thumb">
                    <img src="assets/img/project/s1.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-5 col-md-12 col-lg-6">
                <div class="section-title mb-65">
                    <h3>CIBAEM</h3>
                    <p class="para-text">
                        CIBAEM est une jeune entreprise crée par des hommes de métier, 
                        après une longue et riche expérience au sein du groupe CFAO-OTIS.
                        Nous ambitionnons de vulgariser l’ascenseur afin de le rendre 
                        accessible aux particuliers et aux entreprises en offrant un 
                        service de qualité et à moindre coût
                    </p>
                    <a href="#" class="boxed-btn">Lire Plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->

 <!-- project-area-start -->
 <div class="project-area bg-img-2 overlay">
    <div class="container-fluid p-lg-0">
        <div class="row justify-content-end no-gutters">
            <div class="col-xl-4 col-md-6">
                <div class="section-title text-white mb-65 ml-80">
                    <h3>Nos Produits</h3>
                    <p>Défiler pour voir les produits dont nous disposons 
                        <br> grâce aux flèches ci-dessous
                    </p>
                    <div class="more-project">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="project-active owl-carousel">
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s1.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>CABINES D'ASCENSEURS</h3>
                            <p style="color: #fff;">Nos cabines d'ascenseur sont produits dans le pays, 
                                beaucoup de modèles tels que l'acier inoxydable, laminé,
                                 verre, meubles, revêtement de pierre spéciale.</p>
                        </div>
                    </div>
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s2.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>PORTES D'ASCENSEURS</h3>
                            <p style="color: #fff;">Global Partner ascenseur fournit les portes, 
                                semi-automatiques et portes de fret, semi-automatiques portes spéciales, 
                                portes automatiques voiture 
                                pliantes, portes entièrement automatiques.</p>
                        </div>
                    </div>
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s3.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>MOTEURS D'ASCENSEUR</h3>
                            <p style="color: #fff;">
                                Ascenseur moteurs de machines que nous fournissons sont produites en Turquie, 
                                en Italie et en Espagne et vendus à des clients nationaux et internationaux.
                            </p>
                        </div>
                    </div>
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s4.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>RAILS DE GUIDE D’ASCENSEUR</h3>
                            <p style="color: #fff;">
                                Contrepoids rail et rail de guidage dans diverses dimensions sont fournis.
                            </p>
                        </div>
                    </div>
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s5.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>SYSTÈMES HYDROLIQUES D’ASCENSEUR</h3>
                            <p style="color: #fff;">
                                Global Partner ascenseur fournit des solutions d'emballage 
                                hydrauliques avec systèmes de levage hydraulique selon la région.
                            </p>
                        </div>
                    </div>
                    <div class="single-project">
                        <div class="project-thumb">
                            <img src="assets/img/project/s6.jpg" alt="">
                        </div>
                        <div class="project-info">
                            <br>
                            <h3>AUTRES PIÉCES D’ASCENSEUR</h3>
                            <p style="color: #fff;">
                                Global Partner ascenseur vend également des pièces 
                                de rechange telles que des serrures d'ascenseur de portes, 
                                câbles d'ascenseur, chaussures de guidage d'ascenseur et des 
                                matières plastiques, des tampons, poulie, le régulateur, 
                                les garnitures de contrepoi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project-area-end -->

<!-- brand-area-start 
<div class="brand-area gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/staircase.png" width="100px" alt="">
                    </div>
                    <br>
                    <p style="font-size: 25px;">PAYS EXPORTATEURS</p>
                    <p>
                        Par conséquent, GPE fait une cooperation et communique 
                        avec des nouvelles partenaires dans 7 continents.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/cabin.png" width="90px" alt="">
                    </div>
                    <br>
                    <p style="font-size: 20px;">NOS CERTIFICATS</p>
                    <p>
                        Vous pouvez consulter nos certificats et documents 
                        d'entreprise Global Partner Elevator.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single-address text-center">
                    <div class="addres-icon">
                        <img src="assets/img/icon/staircase.png" width="100px" alt="">
                    </div>
                    <br>
                    <p style="font-size: 25px;">FORMULAIRES ET DOCUMENTS</p>
                    <p>
                        Vous pouvez trouver des formulaires et des documents utiles sur 
                        les cabines d’ascenseur et leurs composants.
                    </p>
                </div>
            </div>
           
        </div>
    </div>
</div>
brand-area-end -->
