 <!-- footer-start -->
 <footer class="footer-area ">
  <div class="container">
      <div class="row justify-content-between text-center">
          <div class="col-sm-12 col-md-12 col-xl-12">
              <div class="single-footer-widget footer_1">
                  <a href="index.html"> <img src="assets/img/logoc.png" alt=""> </a>
                  <p>
                    Produits de qualité, service professionnel. <br>
                    Contactez nous pour plus de détails sur l'escalator, l'ascenseur et les autres pièces de l'ascenseur. <br>
                    <strong><i class="fa fa-home"></i> Abidjan - Côte d'Ivoir</strong>
                    23 BP 3433 Abidjan 23 Marcory en face du Champroux <br>
                    <i class="fa fa-phone"></i> +225 21 28 24 27  &nbsp; &nbsp; 
                    <i class="fa fa-envelope"></i> cibaemsarl@gmail.com
                </p>
                <a href="#" class="boxed-btn">Nous Contacter</a> 
                <div class="social-links">
                    <ul>
                        <li> <br> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                </div>
                <p class="footer-text">
                    Copyright &copy; 2020 CIBAEM Ascenseur. Tous Droits Réservés.
                </p>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer-end -->